@charset "utf-8";

/* reset */
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select{margin:0;padding:0}
body,input,textarea,select,button,table{color:#333;font-family:'맑은 고딕','Malgun Gothic','Apple SD Gothic Neo',sans-serif;font-size:13px;line-height:1}
img,fieldset{border:0}
ul,ol,dl,li{list-style:none}
em,address{font-style:normal}
a{color:#333;text-decoration:none;outline:none}
a:hover,a:active,a:focus{text-decoration:none}
img{vertical-align:top}
table{width:100%;border-collapse:collapse;border-spacing:0}
table th{font-weight:400}
hr{display:none}
h1,h2,h3,h4,h5,h6,strong{font-weight:inherit}
button{overflow:visible;border:0;background:transparent;cursor:pointer;white-space:nowrap;outline:none}
button::-moz-focus-inner{padding:0;border:0}
button span{position:relative}
.blind{overflow:hidden;position:absolute;top:-99rem;left:0px;width:1px;height:1px;border:0;font-size:0;line-height:0;white-space:nowrap}
select,input{outline:none}
label{cursor:pointer}

/* common */
/* html,body,#wrap{width:100%;height:100%}
.sp{display:inline-block;overflow:hidden;background:url(/resources/images/common/sp.png) no-repeat;line-height:99em;vertical-align:top}
#wrap{position:relative}
#container{position:relative;min-width:1130px;padding:80px 0 0 150px}
.content{padding:20px}
.content:after{display:block;clear:both;content:''}
.layer_open{overflow:hidden}
.dimmed{display:none;position:fixed;top:0;left:0;right:0;bottom:0;z-index:30;background:#000;opacity:0.5}
.dimmed.on{display:block} */

/* layout */
#wrap{padding:10px}
.sticky_wrap{position:relative;width:1000px}
.tbl_wrap{overflow-x:auto;margin:20px 0}
.tbl_wrap table{table-layout:fixed}
.tbl_wrap th,.tbl_wrap td{width:100px;padding:8px;border:1px solid #000;color:#575962;line-height:1rem;text-align:center}
.tbl_wrap th{background:#f4f5f8}
.tbl_wrap td{background:#fff}
.tbl_wrap .td_chk{width:35px}

/* top 고정 */
.tbl_wrap .head_fixed{display:none;overflow:hidden;position:fixed;top:0;z-index:10}
.tbl_wrap .head_fixed.on{display:block}
.tbl_wrap .head_fixed .sticky_cell{position:fixed}

/* left 고정 */
/* .tbl_wrap{margin-left:117px} */
.tbl_wrap .v1{width:150px}
.tbl_wrap .v2{width:180px}
.tbl_wrap .sticky_cell{position:absolute;top:auto;left:0}
.tbl_wrap .sticky_cell2{position:absolute;top:auto;right:0}


/* .tbl_wrap .td_chk .td_inr{width:16px;height:16px;margin:0 auto} */
/* .tbl_wrap .td_chk .lb_box{width:2px;height:16px} */

/* .tbl_wrap .tbl_fixed{table-layout:fixed}
.tbl_wrap .tbl_fixed.v1{width:auto} */